<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>NSCameraUsageDescription</key>
    <string>Camera permission is required to take pictures</string>
    <key>NSContactsUsageDescription</key>
    <string>Easy Karobar requires contacts access only if certain features are enabled.</string>

    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Easy Karobar uses Bluetooth for device-related functionality if needed only if certain features are enabled.</string>

</dict>
</plist>
